.PageFooter{
    text-transform: uppercase;
    font-family: azo-sans, sans-serif;
    margin-top: 30px;
}

.PageFooter.homeFooter{
    width: 100%;
    color: #111;
    display: block;
    bottom: auto;
    height: auto;
    position: relative;
    background: none;
    box-shadow: none;
    margin-top: 23px;
}

.FooterLinks{
    width: 976px;
    margin: 0 auto;
}

.Inner{
    /*background: rgba(0, 241, 161, 0.64);*/
}

.LinkSection{
    width: 33.3%;
    /*background: rgba(220, 181, 57, 0.68);*/
    float: left;
    min-height: 200px;
}

.LinkSection a{
    font-size: 11px;
    color: #000;
}

.LinkSection a:hover{
    text-decoration: underline;
}

.Title{
    font-size: 18px;
    border-bottom: 1px dotted #c7c5c5;
    margin: 0 10px;
}

.LinkList{
    padding-top: 10px;
}

.Item{
    padding: 3px 10px;
    margin: 0;
    width: auto;
    display: block;
}

/*Footer Bottom Bar*/

.footerBottomBar{
    margin: 30px auto 0;
    font-size: 11px;
    width: 976px;
    padding: 10px;
    background: #fafafa;
    border-top: 1px dotted #c7c5c5;
    border-bottom: 1px dotted #c7c5c5;
}

.InnerFooter{
    width: 960px;
    margin: 0 auto;
}

.Copyright{
    text-transform: uppercase;
    margin-top: 8px;
}

.PageFooter .Copyright{
    float: left;
    height: 16px;
    padding: 2px 18px 0 10px;
    font-size: 10px;
    line-height: 100%;
}

.footerBottomBar .LinkList{
    float: right;
    padding-top: 0
}

.footerBottomBar .LinkList .Item{
    display: inline-block;
    padding: 0 10px 0 0;
    color: #222222;
}